.menu-text-typography {
  color: var(--ss-menu-text-color);
}

.menu-container {
  width: 100%;
  background-color: white;
  z-index: 2;
  position: absolute;
  box-shadow: var(--ss-brand-box-shadow);
  border-radius: var(--ss-brand-border-radius);
}
