.entry-renderer-selected {
  margin: var(--ss-brand-spacing);
  border-width: var(--ss-entry-border-width) !important;
  background-color: var(--ss-brand-theme-color) !important;
  border-color: var(--ss-entry-border-color) !important;
  cursor: pointer;
}

.entry-renderer {
  margin: var(--ss-brand-spacing);
  cursor: pointer;
}

.entry-renderer:hover {
  background-color: #D3D3D3;
}
