.multi-list-all-lists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  border-radius: 15px;
  background-color: #CBDFEB !important;
}

.multi-list-list {
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  max-height: 50vh;
  overflow-y: auto;
  border-radius: 15px;
  background-color: #ECF3F8;
}

.multi-list-header {
  display: flex;
  flex-grow: 1;
}
