.multi-list-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  align-items: start;
}

.multi-list-column-container {
  max-height: 50vh;
}

.multi-list-column {
  position: relative;
}

.multi-list-column-list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
