.multi-list-all-lists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}

.multi-list-list {
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  max-height: 50vh;
  overflow-y: auto;
}
