.ss-space-children-vertically {
  display: flex;
  flex-direction: column;
}

.ss-space-children-vertically > * {
  margin: calc(var(--ss-brand-spacing) * 2) 0 calc(var(--ss-brand-spacing) * 2)
    0;
}

.ss-ticket-renderer {
  margin: var(--ss-brand-spacing);
}

.Ticketlabel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 415px; */
  margin-top: -21px;
  margin-bottom: -21px;
}

.topRow{
  display:flex; 
  flex-direction:row;
  justify-content: space-between;
}

/* .paper{
  position: relative; 
  top: 65px; 
  left: -50px;
} */

/* .paper2{
  position: relative; 
  top: -5px; 
  left: 152px;
  margin-bottom: -5px;
} */

/* .unbold{
  font-weight: normal;
  margin-bottom: 13px;
} */

/* .unbold1{
  font-weight: normal;
  font-size: 35;
  margin-bottom: -10px;
} */


.label-header{
  font-size: 30;
  width:20%
}

.di{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 415px; */
}

/* .buttons{
  display: flex;
  align-items: left;
} */

/* .fparty{
  display: flex;
  align-items: left;
  font-weight: normal;
  margin-bottom: -10px;
} */

/* .column1{
  display:flex; 
  flex-direction:row;
  justify-content: space-between;
} */

.upload{
  display:flex; 
  flex-direction:row;
  align-items: center;
justify-content: center;
}

.label-textbox{
  
  width:70%
}

@media(max-width:600px){
  .label-textbox{
  
    width:50%
  }
}

.label {
  box-sizing: border-box;
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

.drag-file-element {
  border-radius: 1rem;
}