.ticket-selected {
  margin: var(--ss-brand-spacing);
  border-width: var(--ss-entry-border-width) !important;
  background-color: var(--ss-brand-theme-color) !important;
  border-color: var(--ss-entry-border-color) !important;
  cursor: pointer;
}

.ticket {
  margin: var(--ss-brand-spacing);
  cursor: pointer;
}

.ticket:hover {
  background-color: #d3d3d3;
}

.menu-container-driver{
  width: var(--ss-menu-box-width);
  background-color: white;
  z-index: 2;
  position: absolute;
  box-shadow: var(--ss-brand-box-shadow);
  border-radius: var(--ss-brand-border-radius);
  bottom: 12px;
  right: 4px;
}