:root {
  --ss-brand-transition-time: 0.3s;
  --ss-brand-border-radius: 8px;
  --ss-brand-card-padding: 32px;
  --ss-brand-spacing: 8px;
  --ss-brand-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  --ss-brand-box-shadow-hover: rgba(0, 0, 0, 0.4) 0px 4px 16px;
  --ss-brand-spacer-height: 64px;
  --ss-brand-spacer-height-small: 32px;
  --ss-brand-scrollbar-foreground-color: rgba(153, 153, 153, 0.5);
  --ss-brand-scrollbar-background-color: transparent;
  --ss-brand-theme-color: rgb(197, 220, 250);
  --ss-entry-border-color: rgb(10, 57, 119);
  --ss-entry-border-width: 4px;
  --ss-menu-text-color: #0a3977;
  --ss-menu-box-width: 16vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--ss-brand-scrollbar-foreground-color)
    var(--ss-brand-scrollbar-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ss-brand-app-content {
  align-content: center;
  padding: var(--ss-brand-card-padding);
}

.ss-brand-margin-vertical {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.ss-brand-padding-large {
  padding: 24px !important;
}

.ss-brand-spacer {
  margin-top: var(--ss-brand-spacer-height);
}

.ss-brand-spacer-small {
  margin-top: var(--ss-brand-spacer-height-small);
}

::-webkit-scrollbar {
  width: 8px; /* Mostly for vertical scrollbars */
  height: 8px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--ss-brand-scrollbar-foreground-color);
  border-radius: var(--ss-brand-border-radius);
}

::-webkit-scrollbar-track {
  /* Background */
  background: var(--ss-brand-scrollbar-background-color);
}

.ss-flexbox {
  display: flex;
  padding-left: var(--ss-brand-spacing);
  padding-right: var(--ss-brand-spacing);
}
